.container {

    width: 100%;
    height: 100vh;
    background-color: var(--color-grey-2);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.alert-message {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 80%;
    max-width: 350px;
    text-align: center;

}

.alert-message h1 {
    font-weight: 700;
    font-size: 2.375rem;
    line-height: 3.125rem;
    color: var(--color-grey-7);
}

.alert-message p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-grey-7);
}

.alert-message p strong {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.alert-message a {

    width: 80%;
    max-width: 342px;
    height: 60px;
    background: var(--color-brand-2);
    border: 2px solid var(--color-brand-2);
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--color-grey-7);
    align-self: center;

}

.alert-image {

    height: 220px;
    width: 220px;
    position: relative;

}

.red-block {

    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
    background: var(--color-brand-2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple-block {

    position: absolute;
    width: 200px;
    height: 200px;
    right: 0px;
    bottom: 0px;
    background: #520F84;
    border-radius: 5px;

}

@media(min-width: 1024px) {

    .alert-image {

        height: 440px;
        width: 440px;

    }

    .red-block {

        width: 400px;
        height: 400px;

    }

    .purple-block {

        width: 400px;
        height: 400px;


    }

}

@media(min-width: 1440px) {

    .container {

        justify-content: space-around;
        flex-direction: row-reverse;

    }


}

@media(min-width: 1920px) {

    .alert-message {

        width: 100%;
        
    
    }
    
    .alert-message h1 {
        
        font-size: 3.375rem;
        line-height: 3.125rem;
        
    }
    
    .alert-message p {
        
        font-size: 1.5rem;
        line-height: 2rem;
        
    }
    
    .alert-message p strong {
        
        font-size: 1.6rem;
        line-height: 1.5rem;
    }
    
    .alert-message a {
    
        font-size: 1.625rem;
        
    }

}