.container {

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    color: var(--color-grey-7);
    
}

.left-container {

    width: 50%;
    height: 100%;
    background-color: var(--color-brand-1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.info-container {

    width: 60%;
    height: 30%;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 2rem;

}

.info-container h1 {

    font-size: 2rem;
    font-weight: 600;

}

.info-container p {

    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;

}

.right-container {

    width: 50%;
    height: 100%;
    background-color: var(--color-grey-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.search-form {

    width: 60%;
    height: 30%;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 1.25rem;

}

.search-form h2 {

    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2.5rem;

}

.search-form p {

    font-size: .875rem;
    font-weight: 500;

}

.search-form input {

    width: 100%;
    max-width: 316px;
    height: 38px;
    box-sizing: border-box;
    background: var(--color-grey-1);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    padding: 12px;
    color: var(--color-grey-7);
}

.search-form button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 316px;
    min-height: 38px;
    background: var(--color-brand-2);
    box-sizing: border-box;
    border-radius: 4px;
    border-color: transparent;
    color: var(--color-grey-7);
    font-size: .875rem;
    font-weight: 500;
    cursor: pointer;
    transition: .25s;

}
.search-form button:hover {

    background: var(--color-brand-1);
    box-sizing: border-box;
    border-radius: 4px;
    border-color: transparent;

}
